@charset "utf-8";

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap');

:root {
    --mainfont: 'Montserrat', sans-serif;
    --logofont: 'Ubuntu', sans-serif;
}

body {
    font-family: var(--mainfont);
    text-align: center;
}

h1,
h2,
h3 {
    font-weight: bold;
}


p {
    color: #8f8f8f;
    font-size: 1rem;
}

/* Headings */

.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.pricing-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */

.colour-section{
    background-color: #ff4c68;
    color: white;
}

.white-section{
    background-color: white;
}

/* Header */


#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

.navbar {
    padding-bottom: 100px;
    font-size: 1.3rem;
}

.my-brand {
    font-family: var(--logofont);
    font-weight: bold;
    font-size: 2.5rem;
}


.iphone-img {
    position: absolute;
    width: 60%;
    transform: rotate(25deg);
    right: 30%;
}

.down-button {
    margin: 5% 3% 0 0;
}

/* Features */

#features {
    font-family: var(--mainfont);
    font-size: 1.5rem;
    position: relative;
}

.features-item {
    padding-top: 3%;
}

.features-item p {
    padding: 0 8%;
}


.icon-feat {
    font-size: 3em;
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon-feat:hover {
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
}

.test-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* Press Section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px;
}

.carousel-item {
    padding: 5% 15%;
}

/* Pricing */

#pricing {
    padding: 100px 60px;
}

.pricing-column {
    padding: 3% 2%;
}


/* CTA */


.cta-text {
    padding: 5% 0;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 900;

}

/* Footer */

.icon-foot {
    margin: 1.5%;
}

/* Media Queries */

@media (max-width: 990px) {

    /* Header */
    #title .container-fluid {
        text-align: center;
    }

    .my-brand {
        font-size: 2rem;
    }

    .iphone-img {
        padding-top: 5%;
        transform: rotate(0);
        position: static;
    }

    /* Headings */

    .big-heading {
        font-size: 2.5rem;
    }

    /* Testimonials */

    .test-img {
        width: 20%;
    }

    .testimonial-text {
        font-size: 1.5rem;
    }

    /* Pricing */

    .pricing-heading {
        font-size: 1.5rem;
    }

    /* CTA */

    .cta-text {
        font-size: 2rem;
    }
}